@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  @apply min-h-screen w-full;
}

textarea,
input {
  @apply focus:outline-none;
}
